.DS_Store
DerivedData/
.derivedData/
*.xcworkspace
xcuserdata/
*.moved-aside
*.xcuserstate
Speakance.xcodeproj/project.xcworkspace/
Speakance.xcodeproj/xcuserdata/
supabase/.temp/
supabase/.branches/
web/node_modules/
web/.next/
web/.vercel/
